.titProyect{
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.instruElement{
    font-size: 1.3rem;
    margin-bottom: .5rem;
}
.expli{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}